.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  
    button {
      min-width: 80px;
    }
  }

  .password-warning{
    font-weight: 200;
    color: var(--danger-color)
  }
  
  .dialog-actions button[color="primary"] {
    background-color: #1976d2;
    color: white;
  
    &:hover {
      background-color: #1565c0;
    }
  }
  
  .dialog-actions button[color="warn"] {
    background-color: #d32f2f;
    color: white;
  
    &:hover {
      background-color: #c62828;
    }
  }
  