<h2 mat-dialog-title>{{ 'change.password' | translate }}</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="changePasswordForm">
    <p class="password-warning">{{'change.password.warning' | translate }}</p>
    <mat-form-field class="full-width">
      <mat-label>{{ 'current.password' | translate }}</mat-label>
      <input matInput formControlName="currentPassword" type="password" required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
        {{ 'current.password.required' | translate }}
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>{{ 'new.password' | translate }}</mat-label>
      <input matInput formControlName="newPassword" type="password" required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        {{ 'new.password.required' | translate }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
        {{ 'new.password.minlength' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="onSave()" [disabled]="!changePasswordForm.valid">{{ 'save' | translate }}</button>
  <button mat-button color="warn" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</mat-dialog-actions>
