<h2 mat-dialog-title>{{ 'edit.aUnit' | translate }}</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="unitForm">
    <mat-form-field class="full-width">
      <mat-label>{{ 'labels.unit.name' | translate }}</mat-label>
      <input matInput formControlName="unitName" placeholder="{{ 'aunit' | translate }}">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-raised-button color="primary" (click)="onSave()">{{ 'submit' | translate }}</button>
  <button mat-raised-button color="warn" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</mat-dialog-actions>
