.notification-wrapper {
  position: relative;
}

.navbar-brand{
  font-size:1.2em !important;
}

.type-user{
  color:white !important;
  font-weight: 100 !important;
  font-size:1em !important;
  margin:20px;

  .username{
    font-weight:500
  }
}

.brand-icon{
  margin:5px !important;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.notification-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-message {
  font-size: 14px;
  color: #333;
}

.clear-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.clear-notifications mat-icon {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar .brand-text {
    display: none;
  }

  .navbar .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar .ml-auto {
    margin-left: auto !important;
  }
}
