<div class="history-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">
    <!-- Action Type Column -->
    <ng-container matColumnDef="actionType">
      <th mat-header-cell *matHeaderCellDef> {{ 'table-headers.actions' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.actionType.name }} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.username' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.username }} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="checkDateTime">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.date' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.checkDateTime | date: 'medium' }} </td>
    </ng-container>

    <!-- Conditional Columns based on Device Type -->
    <ng-container matColumnDef="ram" *ngIf="displayedColumns.includes('ram')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.RAM' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.ram }} </td>
    </ng-container>

    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.deviceName' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.deviceName }} </td>
    </ng-container>


    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.employeeName' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.employeeFirstName }} {{ entry.employeeLastName }} </td>
    </ng-container>

    <ng-container matColumnDef="ip" *ngIf="displayedColumns.includes('ip')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.ip' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.ip }} </td>
    </ng-container>

    <ng-container matColumnDef="macAddress" *ngIf="displayedColumns.includes('macAddress')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.macAddress' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.macAddress }} </td>
    </ng-container>

    
    <ng-container matColumnDef="monitorType" *ngIf="displayedColumns.includes('monitorType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.monitorType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.monitorType }} </td>
    </ng-container>

    <ng-container matColumnDef="disk" *ngIf="displayedColumns.includes('disk')">
      <th mat-header-cell *matHeaderCellDef> {{ 'disk' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.disks[0].capacity }} </td>
    </ng-container>

    
    <ng-container matColumnDef="machineType" *ngIf="displayedColumns.includes('machineType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.machineType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.machineType }} </td>
    </ng-container>

    <ng-container matColumnDef="ssd" *ngIf="displayedColumns.includes('ssd')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.ssd' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.disks[0].ssd ? 'Ναι' : 'Οχι' }} </td>
    </ng-container>

    <ng-container matColumnDef="operatingSystem" *ngIf="displayedColumns.includes('operatingSystem')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.operatingSystem' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.operatingSystem.name }} </td>
    </ng-container>

    <ng-container matColumnDef="printerType" *ngIf="displayedColumns.includes('printerType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.printerType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.printerType.name }} </td>
    </ng-container>

    <ng-container matColumnDef="paperSize" *ngIf="displayedColumns.includes('paperSize')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.paperSize' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.paperSize }} </td>
    </ng-container>

    
    <ng-container matColumnDef="printerIp" *ngIf="displayedColumns.includes('printerIp')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.ip' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.printerIp }} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber" *ngIf="displayedColumns.includes('phoneNumber')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.phoneNumber' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.phoneNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="phoneSocket" *ngIf="displayedColumns.includes('phoneSocket')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.phoneSocket' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.phoneSocket }} </td>
    </ng-container>

    <ng-container matColumnDef="phoneType" *ngIf="displayedColumns.includes('phoneType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.phoneType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.phoneType.name }} </td>
    </ng-container>

    <ng-container matColumnDef="serverDiskType" *ngIf="displayedColumns.includes('serverDiskType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.serverDiskType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.serverDiskType.name }} </td>
    </ng-container>

    <ng-container matColumnDef="diskRotations" *ngIf="displayedColumns.includes('diskRotations')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.diskRotations' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.diskRotations }} </td>
    </ng-container>

    <ng-container matColumnDef="networkDisk" *ngIf="displayedColumns.includes('networkDisk')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.networkDisk' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.networkDisk ? 'Ναι' : 'Οχι' }} </td>
    </ng-container>

    <ng-container matColumnDef="networkEquipmentType" *ngIf="displayedColumns.includes('networkEquipmentType')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.networkEquipmentType' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.networkEquipmentType.name }} </td>
    </ng-container>

    <ng-container matColumnDef="networkEquipmentIP" *ngIf="displayedColumns.includes('networkEquipmentIP')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.networkEquipmentIp' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.networkEquipmentIp.name }} </td>
    </ng-container>

    <ng-container matColumnDef="routerUsername" *ngIf="displayedColumns.includes('routerUsername')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.routerUsername' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.routerUsername }} </td>
    </ng-container>

    <ng-container matColumnDef="routerPassword" *ngIf="displayedColumns.includes('routerPassword')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.routerPassword' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.routerPassword }} </td>
    </ng-container>

    <ng-container matColumnDef="networkEquipmentIp" *ngIf="displayedColumns.includes('networkEquipmentIp')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.networkEquipmentIp' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.networkEquipmentIP.name }} </td>
    </ng-container>

    <ng-container matColumnDef="switchAddress" *ngIf="displayedColumns.includes('switchAddress')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.switchAddress' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.switchAddress }} </td>
    </ng-container>

    <ng-container matColumnDef="outlet" *ngIf="displayedColumns.includes('outlet')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.outlet' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.outlet }} </td>
    </ng-container>
    

    <!-- Antivirus Column -->
    <ng-container matColumnDef="antivirus" *ngIf="displayedColumns.includes('antivirus')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.antivirus' | translate }} </th>
      <td mat-cell *matCellDef="let entry"> {{ entry.antivirus }} </td>
    </ng-container>



    <!-- Computer Printers Column -->
    <ng-container matColumnDef="computerPrinters" *ngIf="displayedColumns.includes('computerPrinters')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.computerPrinters' | translate }} </th>
      <td mat-cell *matCellDef="let entry">
        <div *ngFor="let printer of entry.computerPrinters">
          {{ printer.name }} ({{ printer.ipAddress }})
        </div>
      </td>
    </ng-container>

    <!-- Remote Desktop Apps Column -->
    <ng-container matColumnDef="remoteDesktopApps" *ngIf="displayedColumns.includes('remoteDesktopApps')">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.remoteDesktopApps' | translate }} </th>
      <td mat-cell *matCellDef="let entry">
        <div *ngFor="let app of entry.remoteDesktopApps">
          {{ app.name }} - {{ app.userId }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef> {{ 'labels.comments' | translate }} </th>
      <td mat-cell *matCellDef="let entry" class="comment-cell" [matTooltip]="entry.comments"> {{ entry.comments }} </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>
