<div class="mat-elevation-z8 mt-4">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource" class="full-width-table">

        <ng-container [matColumnDef]="ItemColumnNames.carrierName">
          <th mat-header-cell *matHeaderCellDef> {{ ItemColumnNames.carrierName }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.carrier?.name || carrierName}} </td>
        </ng-container>
        
        <ng-container [matColumnDef]="ItemColumnNames.aUnitName">
          <th mat-header-cell *matHeaderCellDef> {{ ItemColumnNames.aUnitName }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.aUnit?.name || unitName}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.deviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="deviceName"> {{ ItemColumnNames.deviceName }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.deviceName}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="model"> {{ ItemColumnNames.model }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.model}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.serialNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="serialNumber"> {{ ItemColumnNames.serialNumber }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.serialNumber}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.ram">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ram"> {{ ItemColumnNames.ram }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.ram ? item.ram + ' GB' : 'N/A'}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.employeeLastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="employeeLastName"> {{ ItemColumnNames.employeeLastName }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.employeeLastName}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.employeeFirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="employeeFirstName"> {{ ItemColumnNames.employeeFirstName }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.employeeFirstName}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> {{ ItemColumnNames.email }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.email}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.personalPhone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="personalPhone"> {{ ItemColumnNames.personalPhone }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.personalPhone}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="department"> {{ ItemColumnNames.department }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.department}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="city"> {{ ItemColumnNames.city }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.city}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.checkDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="checkDateTime"> {{ ItemColumnNames.checkDateTime }} </th>
          <td mat-cell *matCellDef="let item"> {{item?.data?.checkDateTime}} </td>
        </ng-container>
  
        <ng-container [matColumnDef]="ItemColumnNames.actions">
          <th mat-header-cell *matHeaderCellDef> {{ ItemColumnNames.actions }} </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button [matMenuTriggerFor]="itemMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #itemMenu="matMenu">
              <button mat-menu-item (click)="viewItemDetail(item?.id)">
                <mat-icon>visibility</mat-icon> {{ 'view' | translate }}
              </button>
              <button mat-menu-item (click)="deleteItem(item?.id)">
                <mat-icon>delete</mat-icon> {{ 'delete' | translate }}
              </button>
              <button mat-menu-item *ngIf="this.deviceType === 'computer' || this.deviceType ==='phone'"
                (click)="viewItemHistory(item?.id)">
                <mat-icon>list_alt</mat-icon> {{ 'view.device.history' | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="Helper.getPageSizeOptions(dataSource)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  