.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .hide-column {
    display: none;
}

  .full-width-table {
    width: 100%;
    text-align: center;
  }


  
  @media (max-width: 600px) {
    .mat-column-serialNumber, .mat-column-ram, .mat-column-actions {
      display: none;
    }
  }