<div class="user-details-container">
  <mat-card>
    <mat-card-title>{{ 'user.details' | translate }}</mat-card-title>
    <mat-card-content>
      <p><strong>{{ 'username' | translate }}:</strong> {{ user?.username }} </p>
      <p><strong>{{ 'email' | translate }}:</strong> {{ user?.email }}</p>
      <p>
        <strong>{{ 'roles' | translate }}:</strong> 
        <ng-container *ngIf="user?.roles?.[0] as role">
          {{ role | translate }}
        </ng-container>
    </p>
      <p><strong>{{ 'carrier' | translate }}:</strong></p>
      <ul>
        <li *ngFor="let carrier of user?.carriers">
          <mat-chip>{{ carrier.name }}</mat-chip>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="user?.roles![0] === 'SuperAdmin'" (click)="openEditUserDialog()">{{ 'edit' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
