<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card device-card shadow-sm border-0 rounded-lg">
        <div *ngIf="device && device.data && device.data.workStation" class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="device-title h5 mb-0">{{ 'labels.deviceName' | translate }}: {{ device.data.deviceName }}</div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button btn btn-outline-secondary">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <app-export-data-button 
            *ngIf="device" 
            [data]="device.data ? [device.data] : []" 
            [columnNames]="columnNames" 
            [fileName]="device.data.deviceName">
          </app-export-data-button>

          <div class="toggle-buttons mb-4"> 
            <button mat-button 
                    class="btn btn-sm btn-outline-primary" 
                    [class.active]="showGeneralInfo" 
                    (click)="toggleSection('general')">
              {{ 'general.info' | translate }}
            </button>
            <button mat-button 
                    class="btn btn-sm btn-outline-primary" 
                    [class.active]="showTechnicalInfo" 
                    (click)="toggleSection('technical')">
              {{ 'technical.info' | translate }}
            </button>
            <button mat-button 
                    class="btn btn-sm btn-outline-primary" 
                    [class.active]="showWorkstationInfo" 
                    (click)="toggleSection('workstation')">
              {{ 'workstation.info' | translate }}
            </button>
          </div>

          <mat-divider></mat-divider>

          <app-item-info 
            [device]="device" 
            [deviceType]="deviceType" 
            [showGeneralInfo]="showGeneralInfo" 
            [showTechnicalInfo]="showTechnicalInfo" 
            [showWorkstationInfo]="showWorkstationInfo">
          </app-item-info>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToWorkstation()">
              <mat-icon>desktop_windows</mat-icon> {{ 'workstation.of.device' | translate }}
            </button>
            <button mat-menu-item (click)="editDevice()">
              <mat-icon>edit</mat-icon> {{ 'edit.device' | translate }}
            </button>
            <button mat-menu-item (click)="viewHistory()">
              <mat-icon>list_alt</mat-icon> {{ 'view.device.history' | translate }}
            </button>
            <button mat-menu-item (click)="toggleConfirmDelete()">
              <mat-icon>delete</mat-icon> {{ 'delete' | translate }}
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
