.card-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.device-card {
  background-color: #ffffff;
  border: 1px solid #e3e6f0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .card-body {
    position: relative;
    padding: 1.5rem;
  }
  

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .device-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: #555;

    strong {
      color: #333;
    }
  }

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;

    &:hover {
      color: var(--dark-color-hover);
    }
  }

  .mat-menu-item {
    display: flex;
    align-items: center;
    font-size: 0.875rem;

    mat-icon {
      margin-right: 0.5rem;
    }
  }

  .toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    button {
      flex: 1;
      margin: 0 5px;
      border-radius: 0.25rem;

      &.active {
        background-color: var(--menu-item-hover);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .device-card {
    padding: 0.5rem;

    .card-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu-button {
      align-self: flex-end;
    }
  }
}
