<h2 mat-dialog-title>{{ 'add.device' | translate }} ({{deviceType!.toString() | translate}}) </h2>
<div mat-dialog-content>
  <form [formGroup]="deviceForm" class="device-form">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.deviceName' | translate }}</mat-label>
          <input matInput formControlName="deviceName">
          <mat-error *ngIf="deviceForm.get('deviceName')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.model' | translate }}</mat-label>
          <input matInput formControlName="model">
          <mat-error *ngIf="deviceForm.get('model')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.serialNumber' | translate }}</mat-label>
          <input matInput formControlName="serialNumber">
          <mat-error *ngIf="deviceForm.get('serialNumber')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

        <div class="col-md-6" *ngIf="deviceType === 'phone'">
          <mat-form-field class="full-width">
            <mat-label>{{ 'labels.phoneNumber' | translate }}</mat-label>
            <input matInput formControlName="phoneNumber">
            <mat-error *ngIf="deviceForm.get('phoneNumber')?.hasError('required')">
              {{ 'This field is required' | translate }}
            </mat-error>
          </mat-form-field>
      </div>

      <div class="col-md-6" *ngIf="deviceType === 'printer'">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.printerType' | translate }}</mat-label>
          <mat-select formControlName="printerTypeId">
            <mat-option [value]="printerType.BASIC">{{'basic.printer' | translate}}</mat-option>
            <mat-option [value]="printerType.NETWORK">{{'network.printer' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="deviceForm.get('printerTypeId')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row" *ngIf="deviceType === 'network_equipment'">
        <div class="col-md-6" >
          <mat-form-field class="full-width">
            <mat-label>{{ 'labels.netEquipmentType' | translate }}</mat-label>
            <mat-select formControlName="networkEquipmentTypeId">
              <mat-option [value]="netEquipmentType.ROUTER">{{'Router'}}</mat-option>
              <mat-option [value]="netEquipmentType.SWITCH">{{'Switch'}}</mat-option>
            </mat-select>
            <mat-error *ngIf="deviceForm.get('networkEquipmentTypeId')?.hasError('required')">
              {{ 'This field is required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
          <div class="col-md-6" >
            <mat-form-field class="full-width">
              <mat-label>{{ 'labels.floor' | translate }}</mat-label>
              <input matInput formControlName="floor">
            </mat-form-field>
          </div>
      </div>
      
      
      <div class="col-md-6" *ngIf="deviceType === 'computer'">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.ram' | translate }}</mat-label>
          <input matInput type="number" formControlName="ram">
          <mat-error *ngIf="deviceForm.get('ram')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="deviceType === 'computer'">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.ip' | translate }}</mat-label>
          <input matInput formControlName="ip">
          <mat-error *ngIf="deviceForm.get('ip')?.hasError('required')">
            {{ 'This field is required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.workGroupDomain' | translate }}</mat-label>
          <input matInput formControlName="workGroupDomain">
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="deviceType === 'computer'">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'Διευθυνση Mac' }}</mat-label>
          <input matInput formControlName="macAddress">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.machineType' | translate }}</mat-label>
          <input matInput formControlName="machineType">
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="deviceType === 'computer'">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.operatingSystem' | translate }}</mat-label>
          <mat-select formControlName="operatingSystem">
            <mat-option *ngFor="let os of operationSystems" [value]="os">{{ os }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.monitorType' | translate }}</mat-label>
          <input matInput formControlName="monitorType">
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="deviceType === 'computer'">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.outlet' | translate }}</mat-label>
          <input matInput formControlName="outlet">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.antivirus' | translate }}</mat-label>
          <input matInput formControlName="antivirus">
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="deviceType === 'computer'">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.remote.desktop.app' | translate }}</mat-label>
          <mat-select (selectionChange)="onRemoteDesktopAppChange($event.value)">
            <mat-option [value]="RemoteDesktopAppType.TeamViewer">TeamViewer</mat-option>
            <mat-option [value]="RemoteDesktopAppType.AnyDesk">AnyDesk</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div formArrayName="remoteDesktopApps" *ngIf="deviceType === 'computer'">
      <div *ngFor="let app of remoteDesktopApps.controls; let i = index" [formGroupName]="i" class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{ 'labels.connection.id' | translate }}</mat-label>
            <input matInput formControlName="userId">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{ 'labels.connection.password' | translate }}</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div formArrayName="disks" *ngIf="deviceType === 'computer'">
      <div *ngFor="let disk of disks.controls; let i = index" [formGroupName]="i" class="row disk-group">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>{{ 'labels.HDD.capacity' | translate }}</mat-label>
            <input matInput type="number" formControlName="capacity">
            <mat-error *ngIf="disks.at(i).get('capacity')?.hasError('required')">
              {{ 'This field is required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="ssd">{{ 'labels.has.SSD' | translate }}</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <mat-label>{{ 'labels.purchaseDate' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="purchaseDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <mat-label>{{'comments' |translate }}</mat-label>
          <textarea matInput formControlName="comments"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="onSave()">{{ 'save' | translate }}</button>
  <button mat-button color="warn" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</div>
