 .admin-icon{
color: green !important;
}

.status{
  font-weight: bold;
}

.super-admin-chip {
    background-color: rgb(235, 172, 77) !important;
    color: white !important;
    text-align: center !important;
  }
  
  .admin-chip {
    background-color: rgb(45, 211, 72) !important;
    color: white !important;
    text-align: center !important;
  }

  .admin-icon {
    color: rgb(14, 102, 117) !important;
  }