<div class="edit-device-container mt-4 mb-4">
  <h2 class="text-primary mb-4">{{ 'edit.device' | translate }}</h2>
  <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="newWorkstationId">{{ 'labels.newWorkstation' | translate }} (Φορέας {{carrier}})</label>
          <select id="newWorkstationId" formControlName="newWorkstationId" class="form-control form-control-sm">
            <option *ngFor="let ws of availableWorkstations" [value]="ws.id">
              {{ ws.employeeFirstName.toLowerCase() === 'warehouse' ? 'Αποθήκη ' + ws.aUnit.name : ws.employeeFirstName + ' ' + ws.employeeLastName + ' | ' + ws.aUnit.name + ' | ' + ws.department }}
            </option>
          </select>
          <div class="form-group mt-3" *ngIf="isItemInWarehouse">
            <label for="toBeDestroyed">{{ 'labels.toBeDestroyed' | translate }}</label>
            <input id="toBeDestroyed" type="checkbox" formControlName="toBeDestroyed" class="form-check-input" />
          </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="deviceName">{{ 'labels.deviceName' | translate }}</label>
              <input id="deviceName" type="text" formControlName="deviceName" class="form-control" />
              <div *ngIf="editForm.get('deviceName')?.invalid && editForm.get('deviceName')?.touched" class="text-danger">
                {{ 'This field is required' | translate }}
              </div>
            </div>
          </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="model">{{ 'labels.model' | translate }}</label>
          <input id="model" type="text" formControlName="model" class="form-control" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="serialNumber">{{ 'labels.serialNumber' | translate }}</label>
          <input id="serialNumber" type="text" formControlName="serialNumber" class="form-control" />
          <div *ngIf="editForm.get('serialNumber')?.invalid && editForm.get('serialNumber')?.touched" class="text-danger">
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <!-- Computer Specific Fields -->
      <ng-container *ngIf="deviceType === DeviceType.COMPUTER">
        <div class="col-md-4">
          <div class="form-group">
            <label for="ram">{{ 'labels.RAM' | translate }}</label>
            <input id="ram" type="text" formControlName="ram" class="form-control" />
            <div *ngIf="editForm.get('ram')?.invalid && editForm.get('ram')?.touched" class="text-danger">
              {{ 'This field is required' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ip">{{ 'labels.ip' | translate }}</label>
            <input id="ip" type="text" formControlName="ip" class="form-control" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="macAddress">{{ 'Διεύθυνση MAC' | translate }}</label>
            <input id="macAddress" type="text" formControlName="macAddress" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="machineType">{{ 'labels.machineType' | translate }}</label>
            <input id="machineType" type="text" formControlName="machineType" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="operatingSystemId">{{ 'labels.operatingSystem' | translate }}</label>
            <select id="operatingSystemId" formControlName="operatingSystemId" class="form-control form-control-sm">
              <option *ngFor="let os of operatingSystems" [value]="os.id">{{ os.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="monitorType">{{ 'labels.monitorType' | translate }}</label>
            <input id="monitorType" type="text" formControlName="monitorType" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="outlet">{{ 'labels.outlet' | translate }}</label>
            <input id="outlet" type="text" formControlName="outlet" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="antivirus">{{ 'labels.antivirus' | translate }}</label>
            <input id="antivirus" type="text" formControlName="antivirus" class="form-control" />
          </div>
        </div>
        <div class="col-md-6" formArrayName="disks">
          <ng-container *ngIf="disks.length > 0">
            <div [formGroupName]="i" *ngFor="let disk of disks.controls; let i = index">
              <div class="form-group">
                <label for="capacity-{{i}}">{{ 'labels.HDD.capacity' | translate }}</label>
                <input id="capacity-{{i}}" type="number" formControlName="capacity" class="form-control" />
              </div>
              <div class="form-group">
                <label for="ssd-{{i}}">{{ 'labels.ssd' | translate }}</label>
                <input id="ssd-{{i}}" type="checkbox" formControlName="ssd" class="form-check-input" />
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="workGroupDomain">{{ 'labels.workGroupDomain' | translate }}</label>
            <input id="workGroupDomain" type="text" formControlName="workGroupDomain" class="form-control" />
          </div>
        </div>
       
        <div class="col-md-12">
          <div class="form-group">
            <label for="remoteDesktopApp">{{ 'labels.remote.desktop.app' | translate }}</label>
            <select id="remoteDesktopApp" formControlName="remoteDesktopApp" class="form-control"
              (change)="onRemoteDesktopAppChange($event)">
              <option *ngFor="let type of remoteDesktopAppTypes" [value]="type.id">{{ type.name | translate }}</option>
            </select>
            <div *ngIf="editForm.get('remoteDesktopApp')?.invalid && editForm.get('remoteDesktopApp')?.touched" class="text-danger">
              {{ 'This field is required' | translate }}
            </div>
          </div>
          <div formArrayName="remoteDesktopApps">
            <div [formGroupName]="i" *ngFor="let app of remoteDesktopApps.controls; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userId-{{i}}">{{ 'labels.userId' | translate }}</label>
                    <input id="userId-{{i}}" type="text" formControlName="userId" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="password-{{i}}">{{ 'labels.password' | translate }}</label>
                    <input id="password-{{i}}" type="password" formControlName="password" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Phone Specific Fields -->
      <ng-container *ngIf="deviceType === DeviceType.PHONE">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phoneNumber">{{ 'labels.phoneNumber' | translate }}</label>
            <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phoneSocket">{{ 'labels.phoneSocket' | translate }}</label>
            <input id="phoneSocket" type="text" formControlName="phoneSocket" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phoneTypeId">{{ 'labels.phoneType' | translate }}</label>
            <select id="phoneTypeId" formControlName="phoneTypeId" class="form-control form-control-sm">
              <option *ngFor="let type of phoneTypes" [value]="type.id">{{ type.name | translate }}</option>
            </select>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="deviceType === DeviceType.NETWORK_EQUIPMENT">
        <div class="col-md-6">
          <div class="form-group">
            <label for="networkEquipmentFloor">{{ 'labels.networkEquipmentFloor' | translate }}</label>
            <input id="networkEquipmentFloor" type="text" formControlName="networkEquipmentFloor" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="routerUsername">{{ 'labels.routerUsername' | translate }}</label>
            <input id="routerUsername" type="text" formControlName="routerUsername" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="switchAddress">{{ 'labels.switchAddress' | translate }}</label>
            <input id="switchAddress" type="text" formControlName="switchAddress" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="routerPassword">{{ 'labels.routerPassword' | translate }}</label>
            <input id="routerPassword" type="text" formControlName="routerPassword" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="networkEquipmentTypeId">{{ 'labels.networkType' | translate }}</label>
            <select id="networkEquipmentTypeId" formControlName="networkEquipmentTypeId" class="form-control form-control-sm">
              <option *ngFor="let type of netTypes" [value]="type.id">{{ type.name | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
        <div formGroupName="networkEquipmentIp">
          <div class="form-group">
            <label for="ipTypeId">{{ 'labels.ipType' | translate }}</label>
            <select id="ipTypeId" formControlName="ipTypeId" class="form-control form-control-sm">
              <option *ngFor="let ipType of ipTypes" [value]="ipType.id">{{ ipType.name | translate }}</option>
            </select>
          </div>
        </div>
        </div>
        
      </ng-container>


      <!-- Printer Specific Fields -->
      <ng-container *ngIf="deviceType === DeviceType.PRINTER">
        <div class="col-md-6">
          <div class="form-group">
            <label for="printerTypeId">{{ 'labels.printerType' | translate }}</label>
            <select id="printerTypeId" formControlName="printerTypeId" class="form-control form-control-sm">
              <option *ngFor="let type of printerTypes" [value]="type.id">{{ type.name | translate }}</option>
            </select>
            <div *ngIf="editForm.get('printerTypeId')?.invalid && editForm.get('printerTypeId')?.touched" class="text-danger">
              {{ 'This field is required' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="paperSize">{{ 'labels.paperSize' | translate }}</label>
            <input id="paperSize" type="text" formControlName="paperSize" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="paperSize">{{ 'labels.ip' | translate }}</label>
            <input id="printerIp" type="text" formControlName="printerIp" class="form-control" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="refurbished">{{ 'labels.refurbished' | translate }}</label>
            <input id="refurbished" type="checkbox" formControlName="refurbished" class="form-check-input" />
          </div>
        </div>
      </ng-container>

      <!-- Server Specific Fields -->
      <ng-container *ngIf="deviceType === DeviceType.SERVER">

        <div class="col-md-6">
          <div class="form-group">
            <label for="operatingSystemId">{{ 'labels.operatingSystem' | translate }}</label>
            <select id="operatingSystemId" formControlName="operatingSystemId" class="form-control form-control-sm">
              <option *ngFor="let os of operatingSystems" [value]="os.id">{{ os.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ram">{{ 'labels.RAM' | translate }}</label>
            <input id="ram" type="text" formControlName="ram" class="form-control" />
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <label for="ip">{{ 'labels.ipAddress' | translate }}</label>
            <input id="ip" type="text" formControlName="ip" class="form-control" />
          </div>
        </div>
        <!-- Server Disk Fields -->
        <div class="col-md-12" formArrayName="serverDisks">
          <div *ngFor="let serverDisk of serverDisks.controls; let i = index" [formGroupName]="i" class="row mb-3">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name-{{ i }}">{{ 'labels.name' | translate }}</label>
                <input id="name-{{ i }}" type="text" formControlName="name" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="capacity-{{ i }}">{{ 'labels.capacity' | translate }}</label>
                <input id="capacity-{{ i }}" type="text" formControlName="capacity" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="diskRotations-{{ i }}">{{ 'labels.diskRotations' | translate }}</label>
                <input id="diskRotations-{{ i }}" type="text" formControlName="diskRotations" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="serverDiskTypeId-{{ i }}">{{ 'labels.serverDiskType' | translate }}</label>
                <select id="serverDiskTypeId-{{ i }}" formControlName="serverDiskTypeId" class="form-control form-control-sm">
                  <option *ngFor="let type of diskTypes" [value]="type.id">{{ type.name | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Network Disk Info -->
        <div class="col-md-12" *ngIf="editForm.get('networkDisk')?.value" formGroupName="networkDiskInfo">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">{{ 'labels.networkDiskName' | translate }}</label>
                <input id="name" type="text" formControlName="name" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="diskArray">{{ 'labels.diskArray' | translate }}</label>
                <input id="diskArray" type="text" formControlName="diskArray" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="ip">{{ 'labels.IPaddress' | translate }}</label>
                <input id="ip" type="text" formControlName="ip" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="brand">{{ 'labels.networkDiskBrand' | translate }}</label>
                <input id="brand" type="text" formControlName="brand" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="supplier">{{ 'labels.supplier' | translate }}</label>
                <input id="supplier" type="text" formControlName="supplier" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="purchaseDate">{{ 'labels.purchaseDate' | translate }}</label>
                <input id="purchaseDate" type="date" formControlName="purchaseDate" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      

      <div class="col-md-6" *ngIf="deviceType !== DeviceType.SERVER">
        <div class="form-group">
          <label for="purchaseDate">{{ 'labels.purchaseDate' | translate }}</label>
          <input id="purchaseDate" type="date" formControlName="purchaseDate" class="form-control" />
          <div *ngIf="editForm.get('purchaseDate')?.invalid && editForm.get('purchaseDate')?.touched" class="text-danger">
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="supplier">{{ 'labels.supplier' | translate }}</label>
          <input id="supplier" type="text" formControlName="supplier" class="form-control" />
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="comments">{{ 'labels.comments' | translate }}</label>
          <textarea id="comments" formControlName="comments" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-warning mt-4">{{ 'save' | translate }}</button>
  </form>
</div>
