<h2 mat-dialog-title>{{ 'addWorkStation' | translate }}</h2>
<div mat-dialog-content>
  <form [formGroup]="addWorkStationForm" class="workstation-form">
    <div *ngIf="isSuperAdmin">
      <mat-form-field class="full-width" [ngClass]="{'display-none': disableCarrierInput}">
        <mat-label>{{ 'carrier' | translate }}</mat-label>
        <mat-select formControlName="carrierId" (selectionChange)="onCarrierChange($event.value)">
          <mat-option *ngFor="let carrier of carriers" [value]="carrier.id">{{ carrier.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <mat-form-field class="full-width">
      <mat-label>{{ 'unit' | translate }}</mat-label>
      <mat-select formControlName="aUnitId">
        <mat-option *ngFor="let unit of filteredAUnits" [value]="unit.id">{{ unit.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Διεύθυνση</mat-label>
      <mat-select formControlName="municipalOfficeId">
        <mat-option *ngFor="let office of municipalOffices" [value]="office.id">{{ office.name }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>Τμήμα</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let dep of departments" [value]="dep.id">{{ dep.name }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>{{ 'employeeFirstName' | translate }}</mat-label>
      <input matInput formControlName="employeeFirstName">
      <mat-error *ngIf="addWorkStationForm.get('employeeFirstName')?.invalid && addWorkStationForm.get('employeeFirstName')?.touched" class="text-danger">
        {{ 'This field is required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ 'employeeLastName' | translate }}</mat-label>
      <input matInput formControlName="employeeLastName">
      <mat-error *ngIf="addWorkStationForm.get('employeeLastName')?.invalid && addWorkStationForm.get('employeeLastName')?.touched" class="text-danger">
        {{ 'This field is required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ 'workstationNumber' | translate }}</mat-label>
      <input matInput formControlName="workstationNumber">
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>{{ 'socketNumber' | translate }}</mat-label>
      <input matInput formControlName="socketNumber">
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>{{ 'phone' | translate }}</mat-label>
      <input matInput formControlName="personalPhone">
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>{{ 'city' | translate }}</mat-label>
      <input matInput formControlName="city">
      <mat-error *ngIf="addWorkStationForm.get('city')?.invalid && addWorkStationForm.get('city')?.touched" class="text-danger">
        {{ 'This field is required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{ 'labels.address' | translate }}</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSave()">{{ 'save' | translate }}</button>
  <button mat-raised-button color="warn" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</div>
