<h2 mat-dialog-title>{{ isEdit ? ('edit.carrier' | translate) : ('create.carrier' | translate) }}</h2>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="carrierForm">
        <mat-form-field class="full-width">
            <mat-label>{{ 'carrier' | translate }}</mat-label>
            <input matInput formControlName="carrierName" placeholder="{{ 'carrierName' | translate }}">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" (click)="onSave()">{{ 'save' | translate }}</button>
    <button mat-raised-button color="warn" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</mat-dialog-actions>